<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/dataMap.css?v=123" />
    <link rel="stylesheet" type="text/css" href="css/LeveragedDeals.css?v=1" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <style>
        .sell_out{
            height: 141px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .control{
            display: block;
        }
        .CNY ul{
            width: 70%;
        }
        .card-footer
        {
            text-align: center;
            display: inline-block;
            width: 80%;
            margin: auto;
            margin-left: 10%;
            padding-bottom: 20px;
            padding-top: 10px;
        }
        .card-footer button
        {
            width: 46%;
            height: 35px;
            border: 0;
            color: #FFF;
            border-radius: 4px;
        }
        .card-footer .buy {
            float: left;
            background-color: #47c363;
        }
        .card-footer .sell
        {
            float: right;
            background-color: #fc544b;
        }
    </style>
</head>

<body class="bgColor">
<div class="header">
    <p class="pull-left"></p>
    <span data-localize="zdy.contractdetails" class="contractdetail"></span>
</div>
<div class="CNY bgWhite">
    <div class="pull-left">
        <h5 style="margin-top: 15px;" data-localize="zdy.current">当前</h5>
        <h2 style="" class="now_price"></h2>
        <h4 class="flex alcenter"><span style="margin-left:5px;margin-top:5px;" class="rise_fall_probability"></span>
        </h4>
    </div>
    <ul class="pull-right ft12 ">
        <li class="flex">
            <p data-localize="mk.high">高</p><span class="max-price"></span>
        </li>
        <li class="flex">
            <p data-localize="mk.low">低</p><span class="min-price"></span>
        </li>
        <li class="flex">
            <p data-localize="mk.open">开盘</p><span class="open-price"></span>
        </li>
    </ul>

</div>
<div id="app" v-cloak>
<!--    <div class="head">-->
<!--        <h5 data-localize="zdy.current" style="margin-top: 15px; color: rgb(78, 91, 133);">当前</h5>-->
<!--        <div class="price">80.12898921</div>-->
<!--        <div class="bl">-0.0%</div>-->
<!--    </div>-->

    <div id="echart" style="width:100%; min-height: 375px;">

    </div>


    <div class="tradeorder-mask" v-show="showBuyBox">
        <div class="tradeorder">
            <div class="tradeorder-title">
                <span data-localize="zdy.orderconfirm">订单确认</span>
                <img src="images/ia.png" @click="closeBuyBox()">
            </div>
            <div class="tradeorder-top tradeorder-bili">
                <div class="tradeorder-top-list">
                    <span data-localize="index.name">名称</span>
                    <span v-if="info.name">{{info.name}}</span>
                </div>
<!--                <div class="tradeorder-top-list">-->
<!--                    <span data-localize="zdy.fangxiang">方向</span>-->
<!--                    <span :style="tradeType==1?'color:#1cad90':'color:#cd4e65'">{{tradeBuy}}</span>-->
<!--                </div>-->

                <div class="tradeorder-top-list">
                    <span data-localize="zdy.xianjia">现价</span>
                    <span>{{info.now_price | toFixeds}}</span>
                </div>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <h1 data-localize="zdy.huazhuanbizhong">划转币种</h1>
                <select id="bz" @change="quotationChange" style="width: 100%; height: 35px;">
                    <option value=""></option>
                    <option v-for="(item, key) in detailList.quotation" :value="key">{{item.currency_name}}———${{item.now_price}}</option>
                </select>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <h1 data-localize="zdy.buynum" >买入数量</h1>
                <input type="number" :placeholder="getlg('pbnum')" v-model="inputValue">
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <span data-localize="td.tdtotal">总价</span>
                <span id="zj">{{(info.now_price * inputValue).toFixed(8)}}</span>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <span data-localize="td.transnum">划转数量</span>
                <span id="hznum" v-if="typeof detailList.quotation != 'undefined'">{{(info.now_price * inputValue / detailList.quotation[selectId].now_price).toFixed(8)}}</span>
                <span id="hznum" v-if="typeof detailList.quotation == 'undefined'">0</span>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <span data-localize="zdy.keyongyue">可用余额</span>：
                <span v-if="change_wallet.length > 0 && detailList.quotation != 'undefined'" id="ye">{{change_wallet[selectId].change_balance}}</span>
                <span v-if="change_wallet.length <= 0 || detailList.quotation == 'undefined'" id="ye">0</span>
            </div>
            <div class="tradeorder-btn">
                <span data-localize="fat.sure" @click="taderSubmit()">确认下单</span>
            </div>
        </div>
    </div>


    <!-- 持仓列表  -->
    <!-- <div class="position" style="display:none;">
        <h4 class="position-name bgColor"></h4>
        <p class='fengxian' data-localize="deals.risk">风险率：</p>
        <ul class="position-list">

        </ul>
        <button style="text-align:center;background-color: rgba(0, 0, 0, 0);border: none;outline: none;width: 100%;" class="more mt15" data-localize="transaction.getmore">加载更多</button>
        <div class="no_records" style="display:none;">
            <p>
                <img src="images/anonymous.png" />
            </p>
            <p data-localize="transaction.nodata">暂无记录</p>
        </div>
    </div> -->
</div>
<div class="card-footer">
    <button class="buy" data-localize="td.buy" onclick="showBuyBoxFun()">买入</button>
    <button class="sell" data-localize="td.sell">卖出</button>
</div>
<div id="place">
    <div id="data" class="bgColor pb10">
    </div>
    <div id="mask1" @click="close">
        <div id="Limited">
            <ul>
                <li></li>
                <li class="cancel" data-localize="transaction.cancel">取消</li>
            </ul>
        </div>
    </div>
    <div style="height:10px;background-color:#f4f8fb;"></div>
    <div id="entrust" style="margin-bottom: 50px;" class="bgColor mt10">
        <div>
            <h3 class="pull-left " data-localize="deals.currentPosition">
                当前持仓
            </h3>
            <p class="pull-right filtrate all">

            </p>
            <ul class="list_ul" style="margin-top:35px;">
                <li class="ft12 clearfix colorGrey bdb">
                    <span class="width1 tc fl pb5" data-localize="deals.type">类型</span>
                    <span class="width2 tc fl pb5" data-localize="assets.time">时间</span>
                    <span class="width2 tc fl pb5" data-localize="transaction.price">价格</span>
                    <span class="width2 tc fl pb5" data-localize="assets.num">数量</span>
                    <span class="width11 tc fl pb5" data-localize="transaction.option">操作</span>
                </li>
                <li>
                    <ul class="conplete_list colorGrey ft12" style="padding: 10px 0;">
<!--                        <li class="clearfix" v-for="item in []" :key="item.id" style="padding:5px 0;">-->
<!--                            <span class="width1 tc fl">{{item.type == 1 ? getlg('domore'):getlg('doless')}}</span>-->
<!--                            <span class="width2 tc fl">{{item.time}}</span>-->
<!--                            <span class="width2 tc fl">{{item.price || '0.0000' | toFixed4}}</span>-->
<!--                            <span class="width2 tc fl">{{item.number || '0.00' | toFixeds}}</span>-->
<!--                            <a class='pingcang white tc width1 fl' @click="sellLoss(item.id)">{{getlg('pcang')}}</a>-->
<!--                        </li>-->
                    </ul>
                </li>
                <li class="clickMore tc colorGrey" data-localize="deals.clickLoad">点击加载</li>
            </ul>

        </div>
        <div class="no_record" style="display:none;">
            <p>
                <img src="images/anonymous.png" />
            </p>
            <p data-localize="transaction.nodata">暂无记录</p>
        </div>
    </div>
</div>

<!-- 一键平仓 -->
<!-- <div class="stop-trade clearfix">
    <p class="fl"><span data-localize="deals.total">持仓总盈亏：</span> <span class="total-pro"></span></p>
    <button class="fr total-btn" type="button" data-localize="deals.onekey">一键平仓</button>
</div> -->
<!-- 修改弹窗 -->
<div style="height:50px;"></div>
<footer>
    <a href="index.html" class="select">
        <div>
            <p class="img img0"></p>
            <span data-localize="footer.home">首页</span>
        </div>
    </a>

    <a href="trades.html">
        <div>
            <p class="img img1"></p>
            <span data-localize="footer.quotation">行情</span>
        </div>
    </a>
    <a href="dataMap1.html?heyueId=2&legal_id=3&currency_id=1&symbol=BTC/USDT">
        <div>
            <p class="img img2"></p>
            <span data-localize="footer.transaction">交易</span>
        </div>
    </a>
    <a href="offerToBuy.html" class="select">
        <div>
            <p class="img img6"></p>
            <span data-localize="offerBuy.footerTitle">认购</span>
        </div>
    </a>
    <a href="assets.html">
        <div>
            <p class="img img3"></p>
            <span data-localize="footer.assets">资产</span>
        </div>
    </a>
    <a href="personal.html">
        <div>
            <p class="img img4"></p>
            <span data-localize="footer.personal">我的</span>
        </div>
    </a>
</footer>
<script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="lib/vue.min.js"></script>
<script type="text/javascript" src="javascripts/socket.io.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="lib/layer_mobile/layer.js"></script>
<script type="text/javascript" src="lib/jquery.localize.min.js"></script>
<script type="text/javascript" src="lib/language_cookie.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<!--<script type="text/javascript" src="javascripts/LeveragedDeal.js"></script>-->
<script type="text/javascript" src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>
<script>
    var token = get_user_login();
    // 基于准备好的dom，初始化echarts实例
    // var myChart = echarts.init(document.getElementById('echart'));

    var option;

    const upColor = '#00da3c';
    const downColor = '#ec0000';

    function splitData(rawData) {
        let categoryData = [];
        let values = [];
        let volumes = [];
        for (let i = 0; i < rawData.length; i++) {
            categoryData.push(rawData[i].splice(0, 1)[0]);
            values.push(rawData[i]);
            volumes.push([i, rawData[i][4], rawData[i][0] > rawData[i][1] ? 1 : -1]);
        }
        return {
            categoryData: categoryData,
            values: values,
            volumes: volumes
        };
    }
    function calculateMA(dayCount, data) {
        var result = [];
        for (var i = 0, len = data.values.length; i < len; i++) {
            if (i < dayCount) {
                result.push('-');
                continue;
            }
            var sum = 0;
            for (var j = 0; j < dayCount; j++) {
                sum += data.values[i - j][1];
            }
            result.push(+(sum / dayCount).toFixed(3));
        }
        return result;
    }

     option = {
            title:{
                show:false,
            },
            animation: false,
            legend: {
                bottom: 10,
                left: 'center',
                data: ['Dow-Jones index', 'MA5', 'MA10', 'MA20', 'MA30']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
                borderWidth: 1,
                borderColor: '#ccc',
                padding: 10,
                textStyle: {
                    color: '#000'
                },
                position: function (pos, params, el, elRect, size) {
                    const obj = {
                        top: 10
                    };
                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                    return obj;
                }
                // extraCssText: 'width: 170px'
            },
            axisPointer: {
                link: [
                    {
                        xAxisIndex: 'all'
                    }
                ],
                label: {
                    backgroundColor: '#777'
                }
            },
            toolbox: {
                show: false,
                feature: {
                    dataZoom: {
                        yAxisIndex: false
                    },
                    brush: {
                        type: ['lineX', 'clear']
                    }
                }
            },
            brush: {
                xAxisIndex: 'all',
                brushLink: 'all',
                outOfBrush: {
                    colorAlpha: 0.1
                }
            },
            visualMap: {
                show: false,
                seriesIndex: 5,
                dimension: 2,
                pieces: [
                    {
                        value: 1,
                        color: downColor
                    },
                    {
                        value: -1,
                        color: upColor
                    }
                ]
            },
            grid: [
                {
                    left: '10%',
                    right: '5%',
                    height: '75%',
                    top: '3%',
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '3%',
                    height: '16%'
                }
            ],
            xAxis: [
                {
                    type: 'category',
                    data: data.categoryData,
                    scale: true,
                    boundaryGap: false,
                    splitLine: { show: false },
                    min: 'dataMin',
                    max: 'dataMax',
                    axisPointer: {
                        z: 100
                    },
                    axisLabel: {    //重点在这一块，其余可以忽略
                        interval: 10,   // x轴文字间隔，这个一定要有，别忘记了
                        // rotate: 15,
                        onZero: false,
                        textStyle: {
                            color: '#000',
                            fontSize: 10
                        }
                    },
                },
                {
                    type: 'category',
                    gridIndex: 1,
                    data: data.categoryData,
                    scale: true,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                }
            ],
            yAxis: [
                {
                    scale: true,
                    // splitArea: {
                    //     show: true
                    // }
                },
                {
                    scale: true,
                    gridIndex: 1,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                }
            ],
            dataZoom: [
                {
                    type: 'inside',
                    xAxisIndex: [0, 1],
                    start: 10, // 百分比来着
                    end: 25, // 百分比来着
                    startValue: 9999,
                    endValue: 10000,
                    zoomLock: true, // 锁定缩放
                }
            ],
            series: [
                {
                    name: 'Dow-Jones index',
                    type: 'candlestick',
                    data: [],
                    zoom: 100,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: undefined,
                        borderColor0: undefined
                    },
                    markLine: {
                        show: false
                    },
                    tooltip: {
                        formatter: function (param) {
                            param = param[0];
                            return [
                                'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                                'Open: ' + param.data[0] + '<br/>',
                                'Close: ' + param.data[1] + '<br/>',
                                'Lowest: ' + param.data[2] + '<br/>',
                                'Highest: ' + param.data[3] + '<br/>'
                            ].join('');
                        }
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: [],
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: [],
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA20',
                    type: 'line',
                    data: [],
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA30',
                    type: 'line',
                    data: [],
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                // {
                //     name: 'Volume',
                //     type: 'bar',
                //     xAxisIndex: 1,
                //     yAxisIndex: 1,
                //     data: data.volumes
                // }
            ]
        }


    // option && myChart.setOption(option);
    var app;
    $(document).ready(function() {
        var dataLastDate;
        var chart = null;
        var hour = {data:[], date:[]};
        var min1 = {data:[], date:[]};
        var min5 = {data:[], date:[]};
        var min15 = {data:[], date:[]};
        var min30 = {data:[], date:[]};
        var currentDate = [];
        var currentData = [];

        app = new Vue({
            el: '#app',
            data: {
                info: {
                    name: '',
                    now_price: 0,
                },
                detailList: [],
                selectId: 0,
                dataList: [],
                showBuyBox: false,
                change_wallet: [],
                inputValue: 0,
                currentTime: null, // 当前时间，需要轮询该时间是否有变化，每次到时间则去获取最新数据
                colorList: ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'],
            },
            mounted() {
                chart = echarts.init(document.getElementById('echart'))
                chart.setOption(option);
                let that = this;
                get_user_login();
                initDataTokens({
                    url: 'currency/quotation_new'
                }, that.currencyQuotationSuccess);
            },
            created: function () {
                this.getAllList();
                this.getSystemDate();
            },
            methods: {
                taderSubmit(){
                    var zj = parseFloat($('#zj').html());
                    var ye = parseFloat($('#ye').html())
                    var hzsl = parseFloat($('#hznum').html());
                    if(hzsl > ye){
                        alert('余额不足');
                        return false;
                    }
                    var data = {
                        id: get_param('id'),
                        currency_id: this.detailList.quotation[this.selectId].currency_id,
                        number: $('[type="number"]').val(),
                        zj: zj,
                        ye: ye,
                        hznum: $('#hznum').html()
                    };
                    console.log(data)
                },
                closeBuyBox(){
                    this.showBuyBox = false
                },
                quotationChange(e)
                {
                    if(e.target.value == '') return false;
                    this.selectId = e.target.value;
                },
                currencyQuotationSuccess(res) {
                    let that = this;
                    if (res.type == 'ok') {
                        that.socket(token);
                        that.tabList = res.message;
                        if (res.message.length > 0) {
                            that.selectId = res.message[0].id;
                            that.detailList = res.message[0];
                            that.dataList = res.message;
                        }
                    }
                },
                //socket连接封装
                socket(token) {
                    let that = this;
                    $.ajax({
                        url: _API + "user/info",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function success(data) {
                            if (data.type == 'ok') {
                                that.change_wallet = data.message.change_wallet.balance;
                                var socket = io(socket_api);
                                socket.on('connect', function (datas) {
                                    socket.emit('login', data.message.id);
                                    // 后端推送来消息时
                                    socket.on('daymarket', function (msg) {
                                        if (msg.type == 'kline') {
                                            if (that.selectId && (that.selectId ==
                                                msg.legal_id)) {
                                                // now_price
                                                let lists = that.detailList
                                                    .quotation;
                                                for (i in lists) {
                                                    if (lists[i].currency_id == msg
                                                        .currency_id) {
                                                        that.detailList.quotation[i]
                                                            .volume = msg.volume;
                                                        that.detailList.quotation[i]
                                                            .now_price = msg
                                                            .close;
                                                    }
                                                }
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                },
                getSystemDate(){
                    var myDate = new Date();
                    this.currentTime = myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate() + ' ' + myDate.getHours() + ':' + myDate.getMinutes() + ':00';
                    this.getSettimeOutData(myDate);
                },
                getSettimeOutData: function(){
                    setInterval(function () {
                        var myDate = new Date();
                        var date = myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate() + ' ' + myDate.getHours() + ':' + myDate.getMinutes() + ':00';
                        var nowTime = (myDate.getMonth()+1) + '-' + myDate.getDate() + ' ' + myDate.getHours() + ':' + myDate.getMinutes();
                        console.log(app.detailList)
                        // console.log(app.dataList);
                        // 如果当前时间不等于之前记录的时间，并且数据不为空，且最后一个日期不等于当前日期，则去获取数据
                        if(app.currentTime != date && currentDate.length != 0 && currentDate[currentDate.length - 1] != nowTime)
                        {
                            app.currentTime = date;
                            app.getRealTimeData();
                        }
                    }, 1000);
                },
                getRealTimeData: function()
                {
                    var that = this;
                    $.ajax({
                        url: _API + "getOfferProductData",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        data: {id: get_param('id'), date: dataLastDate},
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function (data) {
                            if (data.type == 'ok') {
                                var res = data.message;

                                var min1Data = {
                                    data: that.dataMerge(min1.data, res.min1.data),
                                    date: that.dataMerge(min1.date, res.min1.date)
                                }
                                var min5Data = {
                                    data: that.dataMerge(min5.data, res.min5.data),
                                    date: that.dataMerge(min5.date, res.min5.date)
                                }
                                var min15Data = {
                                    data: that.dataMerge(min15.data, res.min15.data),
                                    date: that.dataMerge(min15.date, res.min15.date)
                                }
                                var min30Data = {
                                    data: that.dataMerge(min30.data, res.min30.data),
                                    date: that.dataMerge(min30.date, res.min30.date)
                                }
                                var hourData = {
                                    data: that.dataMerge(hour.data, res.hour.data),
                                    date: that.dataMerge(hour.date, res.hour.date)
                                }
                                min1 = min1Data;
                                min5 = min5Data;
                                min15 = min15Data;
                                min30 = min30Data;
                                hour = hourData;
                                currentData = min1.data;
                                currentDate = min1.date;
                                dataLastDate = min1.data[min1.data.length - 1][0];
                                app.info = res.info;

                                $('.max-price').html(currentData[currentData.length - 1][3]);
                                $('.min-price').html(currentData[currentData.length - 1][2]);
                                $('.open-price').html(currentData[currentData.length - 1][1]);
                                $('.contractdetail').html(res.info.name);
                                $('.now_price').html(res.info.now_price);
                                $('.now_price').css('color', '#00c087');
                                $('.rise_fall_probability').html((res.info.rise_fall_symbol == 1 ? '+' : '-') + res.info.rise_fall_probability + '%');
                                $('.rise_fall_probability').css('color', '#00c087');

                                //刷新数据
                                var option = chart.getOption();
                                option.title.text =  res.info.name;
                                option.title.subtext = res.info.now_price;
                                option.series[0].data = option.series[0].data.concat(splitData(res.min1.data).values);
                                option.series[1].data = calculateMA(5, min1.data);
                                option.series[2].data = calculateMA(10, min1.data);
                                option.series[3].data = calculateMA(20, min1.data);
                                option.series[4].data = calculateMA(30, min1.data);
                                option.xAxis[0].data  = min1.date;
                                option.dataZoom[0].start = (100-(10/(currentData.length/100)));
                                // 这个的意思是页面只展示30条数据，然后用数据总长度-30再除以总长度可以得到最后一栏数据的初始位置
                                option.dataZoom[0].start = (currentData.length-30)/currentData.length * 100;
                                option.dataZoom[0].end   = 100;
                                option.dataZoom[0].endValue = 100-(50/(currentData.length/100));

                                // myChart.setOption(option);
                                that.reloadEchart(option)

                            } else if (data.type == '999') {
                                window.location = 'login.html';
                            }
                        },
                        error: function () {

                        }
                    })
                },
                reloadEchart: function(option){
                    chart.setOption(option)
                },
                dataMerge: function(data1, data2)
                {
                    if(typeof data2 == 'undefined') return data1;
                    if(typeof data1 == 'undefined') return data2;
                    data2.forEach((item) => {
                        data1.push(item);
                    });

                    return data1;
                },
                getAllList: function () {
                    var that = this;
                    $.ajax({
                        url: _API + "getOfferProductData",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        data: {id: get_param('id')},
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function (data) {
                            if (data.type == 'ok') {
                                var res = data.message;

                                var min1Data = {
                                    data: that.dataMerge(min1.data, res.min1.data),
                                    date: that.dataMerge(min1.date, res.min1.date)
                                }
                                var min5Data = {
                                    data: that.dataMerge(min5.data, res.min5.data),
                                    date: that.dataMerge(min5.date, res.min5.date)
                                }
                                var min15Data = {
                                    data: that.dataMerge(min15.data, res.min15.data),
                                    date: that.dataMerge(min15.date, res.min15.date)
                                }
                                var min30Data = {
                                    data: that.dataMerge(min30.data, res.min30.data),
                                    date: that.dataMerge(min30.date, res.min30.date)
                                }
                                var hourData = {
                                    data: that.dataMerge(hour.data, res.hour.data),
                                    date: that.dataMerge(hour.date, res.hour.date)
                                }
                                min1 = min1Data;
                                min5 = min5Data;
                                min15 = min15Data;
                                min30 = min30Data;
                                hour = hourData;
                                currentData = min1.data;
                                currentDate = min1.date;
                                dataLastDate = min1.data[min1.data.length - 1][0];
                                app.info = res.info;

                                $('.max-price').html(currentData[currentData.length - 1][3]);
                                $('.min-price').html(currentData[currentData.length - 1][2]);
                                $('.open-price').html(currentData[currentData.length - 1][1]);
                                $('.contractdetail').html(res.info.name);
                                $('.now_price').html(res.info.now_price);
                                $('.now_price').css('color', '#00c087');
                                $('.rise_fall_probability').html((res.info.rise_fall_symbol == 1 ? '+' : '-') + res.info.rise_fall_probability + '%');
                                $('.rise_fall_probability').css('color', '#00c087');

                                //刷新数据
                                var option = chart.getOption();
                                option.title.text =  res.info.name;
                                option.title.subtext = res.info.now_price;
                                option.series[0].data = splitData(res.min1.data).values;
                                option.series[1].data = calculateMA(5, res.min1.data);
                                option.series[2].data = calculateMA(10, res.min1.data);
                                option.series[3].data = calculateMA(20, res.min1.data);
                                option.series[4].data = calculateMA(30, res.min1.data);
                                option.xAxis[0].data  = res.min1.date;
                                option.dataZoom[0].start = (100-(10/(currentData.length/100)));
                                // 这个的意思是页面只展示30条数据，然后用数据总长度-30再除以总长度可以得到最后一栏数据的初始位置
                                option.dataZoom[0].start = (currentData.length-30)/currentData.length * 100;
                                option.dataZoom[0].end   = 100;
                                option.dataZoom[0].endValue = 100-(50/(currentData.length/100));

                                // myChart.setOption(option);
                                chart.setOption(option)

                            } else if (data.type == '999') {
                                window.location = 'login.html';
                            }
                        },
                        error: function () {

                        }
                    })
                }
            }
        });


    })

    function showBuyBoxFun() {
        app.showBuyBox = true
    }



</script>
<script>



</script>
</body>

</html>