<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/dataMap.css?v=123" />
    <link rel="stylesheet" type="text/css" href="css/LeveragedDeals.css?v=1" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <style>
        .sell_out{
            height: 141px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .control{
            display: block;
        }
        .CNY ul{
            width: 70%;
        }
        .card-footer
        {
            text-align: center;
            display: inline-block;
            width: 80%;
            margin: auto;
            margin-left: 10%;
            padding-bottom: 20px;
            padding-top: 10px;
        }
        .card-footer button
        {
            width: 46%;
            height: 35px;
            border: 0;
            color: #FFF;
            border-radius: 4px;
        }
        .card-footer .buy {
            float: left;
            background-color: #47c363;
        }
        .card-footer .sell
        {
            float: right;
            background-color: #fc544b;
        }
        .filter-time
        {
            text-align: right;
            padding-right: 20px;
        }
        .filter-time a, a:link{
            margin-left: 10px;
            cursor: pointer;
            color: #007bff;
            user-select:none;
        }
        .active{
            text-decoration: underline !important;
        }
        .text-success, .text-success-all *, .text-success-all *:before, .text-success-all *:after {
            color: #47c363 !important;
        }
        .text-danger, .text-danger-all *, .text-danger-all *:before, .text-danger-all *:after {
            color: #fc544b !important;
        }
        .text-right
        {
            color: rgb(108, 117, 125) !important;
        }
        .ordersTable td
        {
            border: 0 !important;
        }
        .h5.text-success
        {
            font-size: 20px;
        }
    </style>
</head>

<body class="bgColor">
<div class="header">
    <p class="pull-left"></p>
    <span class="contractdetail"></span>
</div>
<div class="CNY bgWhite">
    <div class="pull-left">
        <h5 style="margin-top: 15px;" data-localize="zdy.current">当前</h5>
        <h2 style="" class="now_price"></h2>
        <h4 class="flex alcenter"><span style="margin-left:5px;margin-top:5px;" class="rise_fall_probability"></span>
        </h4>
    </div>
    <ul class="pull-right ft12 ">
        <li class="flex">
            <p data-localize="mk.high">高</p><span class="max-price"></span>
        </li>
        <li class="flex">
            <p data-localize="mk.low">低</p><span class="min-price"></span>
        </li>
        <li class="flex">
            <p data-localize="mk.open">交易量</p><span class="volume"></span>
        </li>
    </ul>

</div>
<div class="CNY bgWhite filter-time">
    <a class="setDataMin" data-type="1">1min</a>
    <a class="setDataMin" data-type="5">5min</a>
    <a class="setDataMin" data-type="15">15min</a>
    <a class="setDataMin" data-type="30">30min</a>
    <a class="setDataMin" data-type="60">1hour</a>
    <a class="setDataMin" data-type="day">day</a>
    <a class="setDataMin" data-type="week">week</a>
    <a class="setDataMin" data-type="month">month</a>
</div>
<div id="app" v-cloak>
<!--    <div class="head">-->
<!--        <h5 data-localize="zdy.current" style="margin-top: 15px; color: rgb(78, 91, 133);">当前</h5>-->
<!--        <div class="price">80.12898921</div>-->
<!--        <div class="bl">-0.0%</div>-->
<!--    </div>-->

    <div id="echart" style="width:100%; min-height: 450px;">

    </div>


    <div class="tradeorder-mask" v-show="showBuyBox">
        <div class="tradeorder">
            <div class="tradeorder-title">
                <span data-localize="zdy.orderconfirm">订单确认</span>
                <img src="images/ia.png" @click="closeBuyBox()">
            </div>
            <div class="tradeorder-top tradeorder-bili">
                <div class="tradeorder-top-list">
                    <span data-localize="index.name">名称</span>
                    <span v-if="info.name">{{info.name}}</span>
                </div>
<!--                <div class="tradeorder-top-list">-->
<!--                    <span data-localize="zdy.fangxiang">方向</span>-->
<!--                    <span :style="tradeType==1?'color:#1cad90':'color:#cd4e65'">{{tradeBuy}}</span>-->
<!--                </div>-->

                <div class="tradeorder-top-list">
                    <span data-localize="zdy.xianjia">现价</span>
                    <span>{{info.now_price | toFixeds}}</span>
                </div>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <h1 data-localize="zdy.huazhuanbizhong">划转币种</h1>
                <select id="bz" @change="quotationChange" style="width: 100%; height: 35px;">
                    <option value=""></option>
                    <option v-for="(item, key) in detailList.quotation" :value="key">{{item.currency_name}}</option>
                </select>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <h1 data-localize="zdy.buynum" >买入数量</h1>
                <input type="number" style="width: 80%;" :placeholder="getlg('pbnum')" v-model="inputValue">
                <span @click="buyAllNumber()" style="width: 18%; height: 100%; display: inline-block; text-align: center;" data-localize="deals.all">全部</span>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <span data-localize="td.tdtotal">总价</span>
                <span id="zj">{{info.now_price * inputValue}}</span>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <span data-localize="td.transnum">划转数量</span>
                <span id="hznum" v-if="typeof detailList.quotation != 'undefined'">{{toNonExponential(info.now_price * inputValue / detailList.quotation[selectId].now_price)}}</span>
                <span id="hznum" v-if="typeof detailList.quotation == 'undefined'">0</span>
            </div>
            <div class="tradeorder-buy tradeorder-bili">
                <span data-localize="zdy.keyongyue">可用余额</span>：
                <span v-if="change_wallet.length > 0 && detailList.quotation != 'undefined'" id="ye">{{change_wallet[selectId].change_balance}}</span>
                <span v-if="change_wallet.length <= 0 || detailList.quotation == 'undefined'" id="ye">0</span>
            </div>
            <div class="tradeorder-btn">
                <span data-localize="fat.sure" @click="taderSubmit()">确认下单</span>
            </div>
        </div>
    </div>


    <!-- 持仓列表  -->
    <!-- <div class="position" style="display:none;">
        <h4 class="position-name bgColor"></h4>
        <p class='fengxian' data-localize="deals.risk">风险率：</p>
        <ul class="position-list">

        </ul>
        <button style="text-align:center;background-color: rgba(0, 0, 0, 0);border: none;outline: none;width: 100%;" class="more mt15" data-localize="transaction.getmore">加载更多</button>
        <div class="no_records" style="display:none;">
            <p>
                <img src="images/anonymous.png" />
            </p>
            <p data-localize="transaction.nodata">暂无记录</p>
        </div>
    </div> -->
    <div class="card-footer">
        <button class="buy" data-localize="td.buy" onclick="showBuyBoxFun()">{{getlg('buy')}}</button>
        <button class="sell" onclick="sell()" data-localize="td.sell">{{getlg('sell')}}</button>
    </div>
    <div v-if="todayVolumes" style="height:10px;background-color:#f4f8fb;"></div>
    <div v-if="todayVolumes" class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm orders_okspusdt ordersTable">
                    <tr v-for="(item, k) in todayVolumes" class="bg-buy" style="background-size:20% 100%;">
                        <td v-if="k != 9" :class="k < 10 ? 'text-left text-danger' : 'text-left text-success'">{{item.price}}</td>
                        <td v-if="k == 9" colspan="3" class="h5 text-left text-success">{{item.price}}</td>
                        <td v-if="k != 9" class="text-right">{{item.volume}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="place">
    <div id="data" class="bgColor pb10">
    </div>
    <div id="mask1" @click="close">
        <div id="Limited">
            <ul>
                <li></li>
                <li class="cancel" data-localize="transaction.cancel">取消</li>
            </ul>
        </div>
    </div>

    <div style="height:10px;background-color:#f4f8fb;"></div>
    <div id="entrust" style="margin-bottom: 50px;" class="bgColor mt10">
        <div>
            <h3 style="display: inline-block;" class="pull-left " data-localize="deals.currentPosition">
                {{getlg('balance')}}
            </h3>
            <span v-if="typeof buyInfo.balance != 'undefined'" class="pull-right filtrate all">
                {{buyInfo.balance}}
            </span>
            <span v-if="typeof buyInfo.balance == 'undefined'" class="pull-right filtrate all">
                0
            </span>
            <ul class="list_ul" style="margin-top:35px;">
                <li class="ft12 clearfix colorGrey bdb">
                    <span class="width2 tc fl pb5" style="width:30%;" data-localize="assets.time">{{getlg('time')}}</span>
                    <span class="width2 tc fl pb5" data-localize="transaction.price">{{getlg('tprice')}}</span>
                    <span class="width1 tc fl pb5" style="width: 23%;" data-localize="assets.num">{{getlg('tnum')}}</span>
                    <span class="tc width1 fl" style="width: 23%;" data-localize="transaction.option">{{getlg('ttotal')}}</span>
                </li>
                <li>
                    <ul class="conplete_list colorGrey ft12" style="padding: 10px 0;">
                        <li class="clearfix" v-for="item in buyRecodes" :key="item.id" style="padding:5px 0;">
                            <span class="width2 tc fl" style="width:30%;">{{item.create_time}}</span>
                            <span class="width2 tc fl">{{item.price || '0.0000' | toFixed4}}</span>
                            <span class="width1 tc fl" style="width: 23%;">{{item.number || '0.00' | toFixeds}}</span>
                            <span class='tc width1 fl' style="width: 23%;">{{item.total_price || '0.0000' | toFixed4}}</span>
                        </li>
                    </ul>
                </li>
<!--                <li class="clickMore tc colorGrey" data-localize="deals.clickLoad">点击加载</li>-->
            </ul>

        </div>
        <div class="no_record" style="display:none;">
            <p>
                <img src="images/anonymous.png" />
            </p>
            <p data-localize="transaction.nodata">暂无记录</p>
        </div>
    </div>
</div>

<!-- 一键平仓 -->
<!-- <div class="stop-trade clearfix">
    <p class="fl"><span data-localize="deals.total">持仓总盈亏：</span> <span class="total-pro"></span></p>
    <button class="fr total-btn" type="button" data-localize="deals.onekey">一键平仓</button>
</div> -->
<!-- 修改弹窗 -->
<div style="height:50px;"></div>
<footer>
    <a href="index.html">
        <div>
            <p class="img img0"></p>
            <span data-localize="footer.home">首页</span>
        </div>
    </a>

    <a href="trades.html">
        <div>
            <p class="img img1"></p>
            <span data-localize="footer.quotation">行情</span>
        </div>
    </a>
<!--    <a href="dataMap1.html?heyueId=2&legal_id=3&currency_id=1&symbol=BTC/USDT">-->
<!--        <div>-->
<!--            <p class="img img2"></p>-->
<!--            <span data-localize="footer.transaction">交易</span>-->
<!--        </div>-->
<!--    </a>-->
    <a href="offerToBuy.html" class="select">
        <div>
            <p class="img img6"></p>
            <span data-localize="offerBuy.footerTitle">认购</span>
        </div>
    </a>
    <a href="assets.html">
        <div>
            <p class="img img3"></p>
            <span data-localize="footer.assets">资产</span>
        </div>
    </a>
    <a href="personal.html">
        <div>
            <p class="img img4"></p>
            <span data-localize="footer.personal">我的</span>
        </div>
    </a>
</footer>
<script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="lib/vue.min.js"></script>
<script type="text/javascript" src="javascripts/socket.io.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="lib/layer_mobile/layer.js"></script>
<script type="text/javascript" src="lib/jquery.localize.min.js"></script>
<script type="text/javascript" src="lib/language_cookie.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<!--<script type="text/javascript" src="javascripts/LeveragedDeal.js"></script>-->
<script type="text/javascript" src="js/echarts.min.js"></script>
<script>
    var token = get_user_login();
    // 基于准备好的dom，初始化echarts实例
    // var myChart = echarts.init(document.getElementById('echart'));

    var option;

    const upColor = '#00da3c';
    const downColor = '#ec0000';
    const colorList = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];
    const labelFont = 'bold 12px Sans-serif';



    function splitData(rawData) {
        const categoryData = [];
        const values = [];
        const volumes = [];
        for (var i = 0; i < rawData.length; i++) {
            categoryData.push(rawData[i][0]);
            values.push([rawData[i][1], rawData[i][2], rawData[i][3], rawData[i][4]]);
            volumes.push(Number(rawData[i][5]));
        }
        return {
            categoryData: categoryData,
            values: values,
            volumes: volumes
        };
    }
    function setVolumeData(volumes, times, datas) {
        const volumeData = [];
        for (var i = 0; i < datas.length; i++) {
            //console.log("开盘价"+dataMes[i][0])
            //console.log("收盘价"+dataMes[i][1])
            volumeData.push([times[i], volumes[i], datas[i][2] > datas[i][1] ? -1 : 1]);
            //第一个代表时间，第二个代表成交量的值，第三个判断颜色1为绿色-1为红色
        }

        return volumeData;
    }
    function calculateMA(dayCount, data) {
        var result = [];
        for (var i = 0, len = data.length; i < len; i++) {
            if (i < dayCount) {
                result.push('-');
                continue;
            }
            var sum = 0;
            for (var j = 0; j < dayCount; j++) {
                sum += +data[i - j][1];
            }
            result.push(sum / dayCount);
        }
        return result;
    }

     option = {
            title:{
                show:false,
            },
            animation: false,
            legend: {
                bottom: 10,
                left: 'center',
                data: ['Dow-Jones index', 'MA5', 'MA10', 'MA20', 'MA30']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
                borderWidth: 1,
                borderColor: '#ccc',
                padding: 10,
                textStyle: {
                    color: '#000'
                },
                position: function (pos, params, el, elRect, size) {
                    const obj = {
                        top: 10
                    };
                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                    return obj;
                }
                // extraCssText: 'width: 170px'
            },
            axisPointer: {
                link: [
                    {
                        xAxisIndex: 'all'
                    }
                ],
                label: {
                    backgroundColor: '#777'
                }
            },
            toolbox: {
                show: false,
                feature: {
                    dataZoom: {
                        yAxisIndex: false
                    },
                    brush: {
                        type: ['lineX', 'clear']
                    }
                }
            },
            brush: {
                xAxisIndex: 'all',
                brushLink: 'all',
                outOfBrush: {
                    colorAlpha: 0.1
                }
            },
            visualMap: {
                show: false,
                seriesIndex: 5,
                dimension: 2,
                pieces: [
                    {
                        value: 1,
                        color: downColor
                    },
                    {
                        value: -1,
                        color: upColor
                    }
                ]
            },
            grid: [
                {
                    left: '10%',
                    right: '5%',
                    height: '60%',
                    top: '3%',
                },
                {
                    left: '10%',
                    right: '5%',
                    top: '68%',
                    height: '15%'
                }
            ],
            xAxis: [
                {
                    type: 'category',
                    data: data.categoryData,
                    scale: true,
                    boundaryGap: false,
                    splitLine: { show: false },
                    min: 'dataMin',
                    max: 'dataMax',
                    axisPointer: {
                        z: 100
                    },
                    axisLabel: {    //重点在这一块，其余可以忽略
                        interval: 10,   // x轴文字间隔，这个一定要有，别忘记了
                        // rotate: 15,
                        onZero: false,
                        textStyle: {
                            color: '#000',
                            fontSize: 10
                        }
                    },
                },
                {
                    type: 'category',
                    gridIndex: 1,
                    data: data.categoryData,
                    scale: true,
                    boundaryGap: false,
                    axisLine: { onZero: false },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    min: 'dataMin',
                    max: 'dataMax'
                }
            ],
            yAxis: [
                {
                    scale: true,
                    // splitArea: {
                    //     show: true
                    // }
                },
                {
                    scale: true,
                    gridIndex: 1,
                    splitNumber: 2,
                    axisLabel: { show: false },
                    axisLine: { show: false },
                    axisTick: { show: false },
                    splitLine: { show: false }
                }
            ],
            dataZoom: [
                {
                    type: 'inside',
                    xAxisIndex: [0, 1],
                    start: 10, // 百分比来着
                    end: 25, // 百分比来着
                    startValue: 9999,
                    endValue: 10000,
                    zoomLock: false, // 锁定缩放
                }
            ],
            series: [
                {
                    name: 'Dow-Jones index',
                    type: 'candlestick',
                    data: [],
                    zoom: 100,
                    itemStyle: {


                        color: upColor,
                        color0: downColor,
                        borderColor: upColor,
                        borderColor0: downColor
                    },
                    markLine: {
                        show: true,
                        silent:true
                    },
                    tooltip: {
                        formatter: function (param) {
                            param = param[0];
                            return [
                                'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                                'Open: ' + param.data[0] + '<br/>',
                                'Close: ' + param.data[1] + '<br/>',
                                'Lowest: ' + param.data[2] + '<br/>',
                                'Highest: ' + param.data[3] + '<br/>'
                            ].join('');
                        }
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: [],
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: [],
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA20',
                    type: 'line',
                    data: [],
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA30',
                    type: 'line',
                    data: [],
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'Volume',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: []
                }
            ]
        }


    // option && myChart.setOption(option);
    var app;
    var entrust;
    $(document).ready(function() {
        var dataLastDate;
        var chart = null;
        var checkDataType = '1';
        var hourData = new Array();
        var hourDate = new Array();
        var min1Data = new Array();
        var min1Date = new Array();
        var min5Data = new Array();
        var min5Date = new Array();
        var min15Data = new Array();
        var min15Date = new Array();
        var min30Data = new Array();
        var min30Date = new Array();
        var daysData = new Array();
        var weeksData = new Array();
        var monthsData = new Array();
        var daysDate = new Array();
        var weeksDate = new Array();
        var monthsDate = new Array();
        var currentDate = new Array();
        var currentData = new Array();

        app = new Vue({
            el: '#app',
            data: {
                info: {
                    name: '',
                    now_price: 0,
                },
                detailList: [],
                selectId: 0,
                dataList: [],
                showBuyBox: false,
                change_wallet: [],
                todayVolumes: [],
                inputValue: 0,
                currentTime: null, // 当前时间，需要轮询该时间是否有变化，每次到时间则去获取最新数据
                colorList: ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'],
            },
            mounted() {
                chart = echarts.init(document.getElementById('echart'))
                chart.setOption(option);
                let that = this;
                get_user_login();
                setInterval(this.getNowData, 3000);
                initDataTokens({
                    url: 'currency/quotation_new',
                    data: {
                        need_offer_product: 2
                    }
                }, that.currencyQuotationSuccess);
            },
            created: function () {
                this.getAllList();
                this.getSystemDate();
            },
            methods: {
                taderSubmit(){
                    var zj = parseFloat($('#zj').html());
                    var ye = parseFloat($('#ye').html())
                    var hzsl = parseFloat($('#hznum').html());
                    if(hzsl > ye){
                        alert('余额不足');
                        return false;
                    }
                    var data = {
                        id: get_param('id'),
                        now_price: this.info.now_price,
                        currency_id: this.detailList.quotation[this.selectId].currency_id,
                        number: $('[type="number"]').val(),
                        zj: zj,
                        ye: ye,
                        hznum: $('#hznum').html()
                    };

                    $.ajax({
                        url: _API + "postOfferOrder",
                        type: "POST",
                        dataType: "json",
                        async: true,
                        data: data,
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function success(data) {
                            if (data.type == 'ok') {
                                alert('success');
                                app.showBuyBox = true;
                                setTimeout(function(){
                                    window.location.reload();
                                }, 1500);
                            } else if (data.type == '999') {
                                window.location = 'login.html';
                            } else if (data.type == 'error') {
                                alert(data.message);
                            }
                        }
                    })

                },
                buyAllNumber(){
                    this.inputValue = this.change_wallet[this.selectId].change_balance * this.detailList.quotation[this.selectId].now_price / this.info.now_price;
                },
                closeBuyBox(){
                    this.showBuyBox = false
                },
                returnDataByType(type, min1Data, min5Data, min15Data, min30Data, min60Data, dayData, weekData, monthData){
                    switch (type) {
                        case '1' :
                            return min1Data;
                            break;
                        case '5' :
                            return min5Data;
                            break;
                        case '15':
                            return min15Data;
                            break;
                        case '30':
                            return min30Data;
                            break;
                        case '60':
                            return min60Data;
                            break;
                        case 'day':
                            return dayData;
                            break;
                        case 'week':
                            return weekData;
                            break;
                        case 'month':
                            return weekData;
                            break;
                        default:
                            return monthData;
                            break;
                    }
                },
                toNonExponential(num) {
                    var m = num.toExponential().match(/\d(?:\.(\d*))?e([+-]\d+)/);
                    return num.toFixed(Math.max(0, (m[1] || '').length - m[2]));
                },
                quotationChange(e){
                    if(e.target.value == '') return false;
                    this.selectId = e.target.value;
                },
                currencyQuotationSuccess(res) {
                    let that = this;
                    if (res.type == 'ok') {
                        that.socket(token);
                        that.tabList = res.message;
                        if (res.message.length > 0) {
                            that.selectId = res.message[0].id;
                            that.detailList = res.message[0];
                            that.dataList = res.message;
                        }
                    }
                },
                //socket连接封装
                socket(token) {
                    let that = this;
                    $.ajax({
                        url: _API + "user/info",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function success(data) {
                            if (data.type == 'ok') {
                                that.change_wallet = data.message.change_wallet.balance;
                                var socket = io(socket_api);
                                socket.on('connect', function (datas) {
                                    socket.emit('login', data.message.id);
                                    // 后端推送来消息时
                                    socket.on('kline', function (msg) {
                                        if (msg.type == 'kline') {
                                            // now_price
                                            let lists = that.detailList.quotation;
                                            for (i in lists) {
                                                if (lists[i].currency_id == msg
                                                    .currency_id) {
                                                    that.detailList.quotation[i]
                                                        .volume = msg.volume;
                                                    that.detailList.quotation[i]
                                                        .now_price = msg
                                                        .close;
                                                }
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                },
                getSystemDate(){
                    var myDate = new Date();
                    this.currentTime = myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate() + ' ' + myDate.getHours() + ':' + myDate.getMinutes() + ':00';
                    this.getSettimeOutData(myDate);
                },
                getSettimeOutData: function(){
                    setInterval(function () {
                        var myDate = new Date();
                        var date = myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate() + ' ' + myDate.getHours() + ':' + myDate.getMinutes() + ':00';
                        var nowTime = (myDate.getMonth()+1) + '-' + myDate.getDate() + ' ' + myDate.getHours() + ':' + myDate.getMinutes();
                        // console.log(app.detailList)
                        // console.log(app.dataList);
                        // 如果当前时间不等于之前记录的时间，并且数据不为空，且最后一个日期不等于当前日期，则去获取数据
                        if(app.currentTime != date && currentDate.length != 0 && currentDate[currentDate.length - 1] != nowTime)
                        {
                            app.currentTime = date;
                            app.getRealTimeData();
                        }
                    }, 1000);
                },
                assiginObj: function(target = {},sources= {}){
                    let obj = target;
                    if(typeof target != 'object' || typeof sources != 'object'){
                        return sources; // 如果其中一个不是对象 就返回sources
                    }
                    for(let key in sources){
                        // 如果target也存在 那就再次合并
                        if(target.hasOwnProperty(key)){
                            obj[key] = this.assiginObj(target[key],sources[key]);
                        } else {
                            // 不存在就直接添加
                            obj[key] = sources[key];
                        }
                    }
                    return obj;
                },
                getRealTimeData: function(){
                    var that = this;
                    $.ajax({
                        url: _API + "getOfferProductData",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        data: {id: get_param('id'), date: dataLastDate},
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function (data) {
                            if (data.type == 'ok') {
                                var res = data.message;

                                min1Data = min1Data.concat(typeof res.min1.data == 'undefined' ? [] : res.min1.data);
                                min1Date = min1Date.concat(typeof res.min1.date == 'undefined' ? [] : res.min1.date);
                                min5Data = min5Data.concat(typeof res.min5.data == 'undefined' ? [] : res.min5.data);
                                min5Date = min5Date.concat(typeof res.min5.date == 'undefined' ? [] : res.min5.date);
                                min15Data = min15Data.concat(typeof res.min15.data == 'undefined' ? [] : res.min15.data);
                                min15Date = min15Date.concat(typeof res.min15.date == 'undefined' ? [] : res.min15.date);
                                min30Data = min30Data.concat(typeof res.min30.data == 'undefined' ? [] : res.min30.data);
                                min30Date = min30Date.concat(typeof res.min30.date == 'undefined' ? [] : res.min30.date);
                                hourData = hourData.concat(typeof res.hour.data == 'undefined' ? [] : res.hour.data);
                                hourDate = hourDate.concat(typeof res.hour.date == 'undefined' ? [] : res.hour.date);
                                daysData = typeof res.day.data == 'undefined' ? [] : res.day.data;
                                daysDate = typeof res.day.date == 'undefined' ? [] : res.day.date;
                                weeksData = typeof res.week.data == 'undefined' ? [] : res.week.data;
                                weeksDate = typeof res.week.date == 'undefined' ? [] : res.week.date;
                                monthsData = typeof res.month.data == 'undefined' ? [] : res.month.data;
                                monthsDate = typeof res.month.date == 'undefined' ? [] : res.month.date;

                                currentData = that.returnDataByType(checkDataType, min1Data, min5Data, min15Data, min30Data, hourData, daysData, weeksData, monthsData);
                                currentDate = that.returnDataByType(checkDataType, min1Date, min5Date, min15Date, min30Date, hourDate, daysDate, weeksDate, monthsDate);

                                dataLastDate = min1Data[min1Data.length - 1][0];
                                app.info = res.info;
                                app.todayVolumes = res.volumes;

                                // $('.max-price').html(min1Data[min1Data.length - 1][3]);
                                // $('.min-price').html(min1Data[min1Data.length - 1][2]);
                                // $('.open-price').html(min1Data[min1Data.length - 1][1]);
                                $('.contractdetail').html(res.info.name);
                                // $('.now_price').html(res.info.now_price);
                                // $('.now_price').css('color', '#00c087');
                                // $('.rise_fall_probability').html((res.info.rise_fall_symbol == 1 ? '+' : '-') + res.info.rise_fall_probability + '%');
                                // $('.rise_fall_probability').css('color', '#00c087');

                                //刷新数据
                                var option = chart.getOption();
                                option.title.text =  res.info.name;
                                option.title.subtext = res.info.now_price;
                                var nowData = splitData(currentData);

                                option.series[0].data = nowData.values;
                                option.series[1].data = calculateMA(5, nowData.values);
                                option.series[2].data = calculateMA(10, nowData.values);
                                option.series[3].data = calculateMA(20, nowData.values);
                                option.series[4].data = calculateMA(30, nowData.values);
                                option.series[5].data = setVolumeData(nowData.volumes, currentDate, currentData);
                                option.xAxis[0].data  = currentDate;
                                option.xAxis[1].data  = currentDate;
                                option.dataZoom[0].start = (100-(10/(currentData.length/100)));
                                // 这个的意思是页面只展示30条数据，然后用数据总长度-30再除以总长度可以得到最后一栏数据的初始位置
                                option.dataZoom[0].start = (currentData.length-30)/currentData.length * 100;
                                option.dataZoom[0].end   = 100;
                                option.dataZoom[0].endValue = 100-(50/(currentData.length/100));

                                // myChart.setOption(option);
                                that.reloadEchart(option)

                            } else if (data.type == '999') {
                                window.location = 'login.html';
                            }
                        },
                        error: function () {

                        }
                    })
                },
                reloadEchart: function(option){
                    chart.setOption(option)
                },
                dataMerge: function(data1, data2)
                {
                    if(typeof data2 == 'undefined') return data1;
                    if(typeof data1 == 'undefined') return data2;
                    var result = [];
                    data1.forEach((item) => {
                        result.push(item);
                    });
                    data2.forEach((item) => {
                        result.push(item);
                    });

                    return result;
                },
                getAllList: function () {
                    var that = this;
                    $.ajax({
                        url: _API + "getOfferProductData",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        data: {id: get_param('id')},
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function (data) {
                            if (data.type == 'ok') {
                                var res = data.message;
                                min1Data = min1Data.concat(typeof res.min1.data == 'undefined' ? [] : res.min1.data);
                                min1Date = min1Date.concat(typeof res.min1.date == 'undefined' ? [] : res.min1.date);
                                min5Data = min5Data.concat(typeof res.min5.data == 'undefined' ? [] : res.min5.data);
                                min5Date = min5Date.concat(typeof res.min5.date == 'undefined' ? [] : res.min5.date);
                                min15Data = min15Data.concat(typeof res.min15.data == 'undefined' ? [] : res.min15.data);
                                min15Date = min15Date.concat(typeof res.min15.date == 'undefined' ? [] : res.min15.date);
                                min30Data = min30Data.concat(typeof res.min30.data == 'undefined' ? [] : res.min30.data);
                                min30Date = min30Date.concat(typeof res.min30.date == 'undefined' ? [] : res.min30.date);
                                hourData = hourData.concat(typeof res.hour.data == 'undefined' ? [] : res.hour.data);
                                hourDate = hourDate.concat(typeof res.hour.date == 'undefined' ? [] : res.hour.date);
                                daysData = typeof res.day.data == 'undefined' ? [] : res.day.data;
                                daysDate = typeof res.day.date == 'undefined' ? [] : res.day.date;
                                weeksData = typeof res.week.data == 'undefined' ? [] : res.week.data;
                                weeksDate = typeof res.week.date == 'undefined' ? [] : res.week.date;
                                monthsData = typeof res.month.data == 'undefined' ? [] : res.month.data;
                                monthsDate = typeof res.month.date == 'undefined' ? [] : res.month.date;

                                currentData = that.returnDataByType(checkDataType, min1Data, min5Data, min15Data, min30Data, hourData, daysData, weeksData, monthsData);
                                currentDate = that.returnDataByType(checkDataType, min1Date, min5Date, min15Date, min30Date, hourDate, daysDate, weeksDate, monthsDate);

                                dataLastDate = min1Data[min1Data.length - 1][0];
                                app.info = res.info;

                                // $('.max-price').html(currentData[currentData.length - 1][3]);
                                // $('.min-price').html(currentData[currentData.length - 1][2]);
                                // $('.open-price').html(currentData[currentData.length - 1][1]);
                                $('.contractdetail').html(res.info.name);
                                // $('.now_price').html(res.info.now_price);
                                // $('.now_price').css('color', '#00c087');
                                // $('.rise_fall_probability').html((res.info.rise_fall_symbol == 1 ? '+' : '-') + res.info.rise_fall_probability + '%');
                                // $('.rise_fall_probability').css('color', '#00c087');

                                //刷新数据
                                var option = chart.getOption();
                                option.title.text =  res.info.name;
                                option.title.subtext = res.info.now_price;
                                var NowData = splitData(min1Data);
                                option.series[0].data = NowData.values;
                                option.series[1].data = calculateMA(5, NowData.values);
                                option.series[2].data = calculateMA(10, NowData.values);
                                option.series[3].data = calculateMA(20, NowData.values);
                                option.series[4].data = calculateMA(30, NowData.values);
                                option.series[5].data = setVolumeData(NowData.volumes, currentDate, currentData);
                                option.xAxis[0].data  = currentDate;
                                option.xAxis[1].data  = currentDate;
                                option.dataZoom[0].start = (100-(10/(currentData.length/100)));
                                // 这个的意思是页面只展示30条数据，然后用数据总长度-30再除以总长度可以得到最后一栏数据的初始位置
                                option.dataZoom[0].start = (currentData.length-30)/currentData.length * 100;
                                option.dataZoom[0].end   = 100;
                                option.dataZoom[0].endValue = 100-(50/(currentData.length/100));

                                // myChart.setOption(option);
                                chart.setOption(option);

                            } else if (data.type == '999') {
                                window.location = 'login.html';
                            }
                        },
                        error: function () {

                        }
                    })
                },
                getNowData: function () {
                    var that = this;
                    $.ajax({
                        url: _API + "getNewTimeData",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        data: {id: get_param('id')},
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function (data) {
                            if (data.type == 'ok') {
                                var res = data.message;

                                $('.max-price').html(res.highest_price);
                                $('.min-price').html(res.lowest_price);
                                $('.now_price').html(res.now_price);
                                $('.volume').html(res.volume);

                                $('.rise_fall_probability').html((res.rise_fall_symbol == 1 ? '+' : '-') + res.proportion + '%');
                                if(res.rise_fall_symbol == 1) {
                                    $('.now_price').css('color', '#00c087');
                                    $('.rise_fall_probability').css('color', '#00c087');
                                }else{
                                    $('.now_price').css('color', '#e3046f');
                                    $('.rise_fall_probability').css('color', '#e3046f');
                                }

                                that.todayVolumes = res.volumes;

                            } else if (data.type == '999') {
                                window.location = 'login.html';
                            }
                        },
                        error: function () {

                        }
                    })
                }
            }
        });

        entrust = new Vue({
            el: '#entrust',
            data: {
                buyInfo: {},
                buyRecodes: [],
            },
            created: function () {
                this.buyInfoFun();
            },
            methods: {
                buyInfoFun(){
                    $.ajax({
                        url: _API + "getMyOfferInfo",
                        type: "GET",
                        dataType: "json",
                        async: true,
                        data: {id: get_param('id')},
                        beforeSend: function beforeSend(request) {
                            request.setRequestHeader("Authorization", token);
                        },
                        success: function success(data) {
                            if (data.type == 'ok') {
                                entrust.buyInfo = data.message.info;
                                entrust.buyRecodes = data.message.list;
                            }
                        }
                    });
                },
            }
        });

        $('.setDataMin').click(function() {
            $('.setDataMin').removeClass('active');
            $(this).addClass('active');
            checkDataType = $(this).attr('data-type');

            currentData = app.returnDataByType(checkDataType, min1Data, min5Data, min15Data, min30Data, hourData, daysData, weeksData, monthsData);
            currentDate = app.returnDataByType(checkDataType, min1Date, min5Date, min15Date, min30Date, hourDate, daysDate, weeksDate, monthsDate);
            console.log(currentData)
            //刷新数据
            var newOption = option;
            var nowData = splitData(currentData);


            newOption.series[0].data = nowData.values;
            newOption.series[1].data = calculateMA(5, nowData.values);
            newOption.series[2].data = calculateMA(10, nowData.values);
            newOption.series[3].data = calculateMA(20, nowData.values);
            newOption.series[4].data = calculateMA(30, nowData.values);
            newOption.series[5].data = setVolumeData(nowData.volumes, currentDate, currentData);
            newOption.xAxis[0].data  = currentDate;
            newOption.xAxis[1].data  = currentDate;
            newOption.dataZoom[0].start = (100-(10/(currentData.length/100)));
            // 这个的意思是页面只展示30条数据，然后用数据总长度-30再除以总长度可以得到最后一栏数据的初始位置
            newOption.dataZoom[0].start = (currentData.length-30)/currentData.length * 100;
            newOption.dataZoom[0].end   = 100;
            newOption.dataZoom[0].endValue = 100-(50/(currentData.length/100));

            // myChart.setOption(option);
            $('#echart').html('');
            // chart.dispose();
            document.getElementById('echart').removeAttribute('_echarts_instance_');
            chart = echarts.init(document.getElementById('echart'))
            chart.setOption(newOption);

            console.log(newOption)


        })

    })

    function showBuyBoxFun() {
        app.showBuyBox = true
    }

    function sell() {
        alert(getlg('DontcanShell'));
    }



</script>
<script>



</script>
</body>

</html>