<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>U利派</title>
    <link rel="stylesheet" href="css/common.css">
    <script>
        function code(result) {
            $(".address").val(result)
        }
    </script>
</head>
<style>
    .bline {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }

    .mt30 {
        margin-top: 30px
    }

    .color1b {
        color: #728daf
    }

    .mention {
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #fff;
        background: #f0b90b;
        border-radius: 2px;
        font-size: 20px;
    }

    .addbox img {
        width: 20px;
    }

    .addbox span {
        padding: 0 5px
    }

    input {
        background-color: rgba(0, 0, 0, 0);
    }
    .address{
        width:90%;
    }
</style>

<body class="bgWhite">
    <header class="header">
        <a class="back mt5" href="javascript:history.go(-1)">

        </a>
        <h4 class="ft16" data-localize="ulipai.index">U利派</h4>
    </header>
    <div class="header-space"></div>
    <div class="plr15 ft14 mt20" id="app">

        <div class="bline mt30">
            <select v-if="currency_list" style="width: 100%;height: 32px;border: 0;" v-on:change="change_currency">
                <option v-for="item in currency_list" :key="item.id" :value="item.id" :selected="item.id == check_currency_id">{{item.name}}</option>
            </select>
        </div>

        <p class="mt20" data-localize="assets.avaiable">可用</p>
        <p v-if="currency_list.length > 0 && currency_list[check_currency_index]" class="mt20 ft14 bold"><span class="balance-num">{{currency_list[check_currency_index].change_balance}}</span>
        <span v-if="currency_list.length > 0 && currency_list[check_currency_index]" class="title">{{currency_list[check_currency_index].name}}</span>
        </p>
        
        <div class="bline mt30">
            <p data-localize="assets.num">数量</p>
            <div class="flex between alcenter mt20">
                <input type="number" data-localize="ulipai.cunrunum" placeholder="请输入转入数量" class="ft14 count">
                <div>
                    <!--<span class="white_gray title">USDT</span>-->
                    <span class="">|</span>
                    <span class="bold all_in" data-localize="deals.all">全部</span>
                </div>
            </div>
        </div>
        
      
        <div class="mention tc ft14 mt20" data-localize="ulipai.mr"  style="background: #588bf7;">买入</div>
    </div>
    <script type="text/javascript" src="lib/vue.min.js"></script>
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="javascripts/fastclick.js"></script>
    <script src="javascripts/jquery.cookie.js"></script>
    <script src="lib/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="lib/jquery.localize.min.js"></script>
    <script type="text/javascript" src="lib/language_cookie.js"></script>
    <script src="javascripts/main.js"></script>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                currency_list: [],
                check_currency_index: null,
                check_currency_id: 3
            },
            mounted: function() {
            },
            created: function(){
                var that = this;
                var balance, min_number, rate;
                initDataToken({
                    url: 'wallet/get_currency_wallet_list',
                    type: 'post',
                    data: {}
                }, function (res) {
                    for (var i = 0; i < res.length; i++)
                    {
                        if(res[i].id == that.check_currency_id)
                        {
                            that.check_currency_index = i;
                        }
                    }
                    that.currency_list = res;
                })
            },
            methods: {
                change_currency: function (event) {
                    this.check_currency_id = event.target.value;
                    for (var i = 0; i < this.currency_list.length; i++)
                    {
                        if(this.currency_list[i].id == event.target.value)
                        {
                            this.check_currency_index = i;
                        }
                    }
                }
            }
        });

        $(function () {
            // FastClick.attach(document.body);
            // var currency = 1;// get_param('id');
            // var wallet_type = 1;
            // var balance, min_number, rate;
            // initDataToken({
            //     url: 'wallet/get_currency_wallet_list',
            //     type: 'post',
            //     data: {}
            // }, function (res) {
            //     balance = res.legal_balance;
            //     $('.balance-num').html(balance)
            //     $('.title').html(res.name)
            //     rate = res.rate;
            //     $('.ratenum').html(rate)
            //     min_number = res.min_number;
            //     // $('.count').attr('placeholder', getlg('minimum') + iTofixed(min_number,2))
            //     var num = 0;
            //     $('.reach-num').html(iTofixed(num,2));
            // })
            
            var aU = function(c) {
                    var b = new RegExp("(^|&)" + c + "=([^&]*)(&|$)", "i"),
                    a = window.location.search.substr(1).match(b);
                    if (a) {
                        return a[2]
                    }
            };

            function postData() {
                // var address = $('.address').val();
                var number = $('.count').val();
                // if (!address) {
                //     layer_msg(getlg('withdrawalAddress'));
                //     return;
                // }
                var goods_id=aU("id");
            
                if (!number) {
                    layer_msg(getlg('zhuanruAmount'));
                    return;
                }

                if (number <= 0) {
                    //请输入转入数量
                    return layer_msg(getlg('zhuanruAmount'));
                }
                var currency = app.check_currency_id;
                var wallet_type = 1;

                initDataToken3({
                    url: 'wallet/yubaozhuanru',
                    type: 'post',
                    data: {
                        currency,
                        wallet_type,
                        number,
                        goods_id,
                    }
                }, function (res) {
                    layer_msg(getlg(res.message));
                    setTimeout(() => {
                        location.href = 'ulischool.html'
                    }, 1500);
                })

            }

            function initDataToken3(params, callback) {
                // layer_loading();
                var url = _API + params.url;
                var type = params.type || 'get';
                var data = params.data || [];
                var token = get_user_login();
                $.ajax({
                    url,
                    type,
                    data,
                    beforeSend: function beforeSend(request) {
                        request.setRequestHeader('Authorization', token)
                    },
                    success: function (res) {
                        layer_close();
                        if (res.type == 'ok') {
                            callback && callback(res)
                        } else {
                            callback && callback(res)
                            if (res.type == '997') {
                                setTimeout(() => {
                                    location.href = 'adding.html';
                                }, 1500);
                            }
                            if (res.type == '998') {
                                setTimeout(() => {
                                    location.href = 'authentication.html';
                                }, 1500);
                            }
                            if (res.type == '999') {
                                location.href = 'login.html'
                            }


                        }
                    }
                })
            }


            $('.mention').click(function () {
                postData();
            })
            $('.all_in').click(function () {
                $('.count').val(parseInt(app.currency_list[app.check_currency_index].change_balance));
                // var num = iTofixed(parseInt(app.currency_list[app.check_currency_index].change_balance) - rate,2);
                // if (num > 0) {
                //     $('.reach-num').html(num);
                // } else {
                //     $('.reach-num').html('0.00');
                // }

            })
            $('.count').keyup(function () {
                var value = $(this).val();
                var num = parseInt(value);
                $('.count').val(num);
                // var num = iTofixed(value - rate,2);
                // if (num > 0) {
                //     $('.reach-num').html(parseInt(num));
                // } else {
                //     $('.reach-num').html('0.00');
                // }

            })

        })
    </script>
</body>

</html>